//! **************************************************************************
// Written by: Map P.20131013 on Thu Sep 11 13:09:51 2014
//! **************************************************************************

SCHEMATIC START;
COMP "CS" LOCATE = SITE "H4" LEVEL 1;
COMP "SCL_out" LOCATE = SITE "T4" LEVEL 1;
COMP "CKE" LOCATE = SITE "J12" LEVEL 1;
COMP "SDA" LOCATE = SITE "R2" LEVEL 1;
COMP "clk" LOCATE = SITE "A9" LEVEL 1;
COMP "rst" LOCATE = SITE "J14" LEVEL 1;
COMP "A<0>" LOCATE = SITE "E4" LEVEL 1;
COMP "A<1>" LOCATE = SITE "E3" LEVEL 1;
COMP "A<2>" LOCATE = SITE "D3" LEVEL 1;
COMP "A<3>" LOCATE = SITE "C3" LEVEL 1;
COMP "A<4>" LOCATE = SITE "B12" LEVEL 1;
COMP "A<5>" LOCATE = SITE "A12" LEVEL 1;
COMP "A<6>" LOCATE = SITE "D12" LEVEL 1;
COMP "A<7>" LOCATE = SITE "E12" LEVEL 1;
COMP "A<8>" LOCATE = SITE "G16" LEVEL 1;
COMP "A<9>" LOCATE = SITE "G12" LEVEL 1;
COMP "LDQM" LOCATE = SITE "M4" LEVEL 1;
COMP "UDQM" LOCATE = SITE "L13" LEVEL 1;
COMP "d<0>" LOCATE = SITE "P6" LEVEL 1;
COMP "d<1>" LOCATE = SITE "T6" LEVEL 1;
COMP "d<2>" LOCATE = SITE "T5" LEVEL 1;
COMP "d<3>" LOCATE = SITE "P5" LEVEL 1;
COMP "d<4>" LOCATE = SITE "R5" LEVEL 1;
COMP "d<5>" LOCATE = SITE "N5" LEVEL 1;
COMP "d<6>" LOCATE = SITE "P4" LEVEL 1;
COMP "d<7>" LOCATE = SITE "N4" LEVEL 1;
COMP "d<8>" LOCATE = SITE "P12" LEVEL 1;
COMP "d<9>" LOCATE = SITE "R12" LEVEL 1;
COMP "A<10>" LOCATE = SITE "F4" LEVEL 1;
COMP "A<11>" LOCATE = SITE "G11" LEVEL 1;
COMP "A<12>" LOCATE = SITE "H13" LEVEL 1;
COMP "MemCLKIN" LOCATE = SITE "K11" LEVEL 1;
COMP "d<10>" LOCATE = SITE "T13" LEVEL 1;
COMP "d<11>" LOCATE = SITE "T14" LEVEL 1;
COMP "d<12>" LOCATE = SITE "R14" LEVEL 1;
COMP "d<13>" LOCATE = SITE "T15" LEVEL 1;
COMP "d<14>" LOCATE = SITE "T12" LEVEL 1;
COMP "d<15>" LOCATE = SITE "P11" LEVEL 1;
COMP "WEOut" LOCATE = SITE "M3" LEVEL 1;
COMP "BitsPerSampleOut" LOCATE = SITE "F15" LEVEL 1;
COMP "MemCLKOut" LOCATE = SITE "K12" LEVEL 1;
COMP "DACDAT" LOCATE = SITE "R7" LEVEL 1;
COMP "rst_out" LOCATE = SITE "R1" LEVEL 1;
COMP "CASOut" LOCATE = SITE "L3" LEVEL 1;
COMP "RASOut" LOCATE = SITE "L4" LEVEL 1;
COMP "sampleclkout" LOCATE = SITE "M2" LEVEL 1;
COMP "errorout" LOCATE = SITE "M1" LEVEL 1;
COMP "errorcode<0>" LOCATE = SITE "M16" LEVEL 1;
COMP "errorcode<1>" LOCATE = SITE "K15" LEVEL 1;
COMP "errorcode<2>" LOCATE = SITE "K16" LEVEL 1;
COMP "errorcode<3>" LOCATE = SITE "J16" LEVEL 1;
COMP "BCLK_out" LOCATE = SITE "R16" LEVEL 1;
COMP "MCLK_out" LOCATE = SITE "M15" LEVEL 1;
COMP "BSOut<0>" LOCATE = SITE "H3" LEVEL 1;
COMP "BSOut<1>" LOCATE = SITE "G3" LEVEL 1;
COMP "LRCLKout" LOCATE = SITE "R15" LEVEL 1;
PIN ODDR2_inst_BCLK_pins<1> = BEL "ODDR2_inst_BCLK" PINNAME CK0;
PIN ODDR2_inst_BCLK_pins<2> = BEL "ODDR2_inst_BCLK" PINNAME CK1;
PIN ODDR2_inst_MCLK_pins<1> = BEL "ODDR2_inst_MCLK" PINNAME CK0;
PIN ODDR2_inst_MCLK_pins<2> = BEL "ODDR2_inst_MCLK" PINNAME CK1;
TIMEGRP Inst_DAC_top_inst_DMC_clkout0 = BEL "Inst_SampleENA/lastLRCLK" BEL
        "Inst_SampleENA/SampleCLKEna" BEL "Inst_CLK_div/cnt_0" BEL
        "Inst_CLK_div/cnt_1" BEL "Inst_CLK_div/cnt_2" BEL "Inst_CLK_div/cnt_3"
        BEL "Inst_CLK_div/cnt_4" BEL "Inst_DAC_top/inst_DMC/clkout1_buf" BEL
        "Inst_DAC_top/channel_cnt_8" BEL "Inst_DAC_top/channel_cnt_7" BEL
        "Inst_DAC_top/channel_cnt_6" BEL "Inst_DAC_top/channel_cnt_5" BEL
        "Inst_DAC_top/channel_cnt_4" BEL "Inst_DAC_top/channel_cnt_3" BEL
        "Inst_DAC_top/channel_cnt_2" BEL "Inst_DAC_top/channel_cnt_1" BEL
        "Inst_DAC_top/channel_cnt_0" BEL "Inst_DAC_top/LRCLK" BEL
        "Inst_DAC_top/Inst_Dataconverter/cnt_4" BEL
        "Inst_DAC_top/Inst_Dataconverter/cnt_3" BEL
        "Inst_DAC_top/Inst_Dataconverter/cnt_2" BEL
        "Inst_DAC_top/Inst_Dataconverter/cnt_1" BEL
        "Inst_DAC_top/Inst_Dataconverter/cnt_0" BEL
        "Inst_DAC_top/Inst_Dataconverter/dataout" BEL
        "Inst_DAC_top/Inst_Dataconverter/current_sample_out_0" BEL
        "Inst_DAC_top/Inst_Dataconverter/current_sample_out_1" BEL
        "Inst_DAC_top/Inst_Dataconverter/current_sample_out_2" BEL
        "Inst_DAC_top/Inst_Dataconverter/current_sample_out_3" BEL
        "Inst_DAC_top/Inst_Dataconverter/current_sample_out_4" BEL
        "Inst_DAC_top/Inst_Dataconverter/current_sample_out_5" BEL
        "Inst_DAC_top/Inst_Dataconverter/current_sample_out_6" BEL
        "Inst_DAC_top/Inst_Dataconverter/current_sample_out_7" BEL
        "Inst_DAC_top/Inst_Dataconverter/current_sample_out_8" BEL
        "Inst_DAC_top/Inst_Dataconverter/current_sample_out_9" BEL
        "Inst_DAC_top/Inst_Dataconverter/current_sample_out_10" BEL
        "Inst_DAC_top/Inst_Dataconverter/current_sample_out_11" BEL
        "Inst_DAC_top/Inst_Dataconverter/current_sample_out_12" BEL
        "Inst_DAC_top/Inst_Dataconverter/current_sample_out_13" BEL
        "Inst_DAC_top/Inst_Dataconverter/current_sample_out_14" BEL
        "Inst_DAC_top/Inst_Dataconverter/current_sample_out_15" BEL
        "Inst_DAC_top/Inst_Dataconverter/lastLRclk" BEL
        "Inst_SDRAMInterface/current_state_FSM_FFd1" BEL
        "Inst_SDRAMInterface/current_state_FSM_FFd2" BEL
        "Inst_SDRAMInterface/current_state_FSM_FFd3" BEL
        "Inst_SDRAMInterface/current_Addr_9" BEL
        "Inst_SDRAMInterface/current_Addr_8" BEL
        "Inst_SDRAMInterface/current_Addr_7" BEL
        "Inst_SDRAMInterface/current_Addr_6" BEL
        "Inst_SDRAMInterface/current_Addr_5" BEL
        "Inst_SDRAMInterface/current_Addr_4" BEL
        "Inst_SDRAMInterface/current_Addr_3" BEL
        "Inst_SDRAMInterface/current_Addr_2" BEL
        "Inst_SDRAMInterface/current_Addr_1" BEL
        "Inst_SDRAMInterface/current_Addr_0" BEL
        "Inst_SDRAMInterface/current_WE" BEL "Inst_SDRAMInterface/MemCLKOut"
        BEL "Inst_SDRAMInterface/current_cnt_8" BEL
        "Inst_SDRAMInterface/current_cnt_7" BEL
        "Inst_SDRAMInterface/current_cnt_6" BEL
        "Inst_SDRAMInterface/current_cnt_5" BEL
        "Inst_SDRAMInterface/current_cnt_4" BEL
        "Inst_SDRAMInterface/current_cnt_3" BEL
        "Inst_SDRAMInterface/current_cnt_2" BEL
        "Inst_SDRAMInterface/current_cnt_1" BEL
        "Inst_SDRAMInterface/current_cnt_0" BEL
        "Inst_SDRAMInterface/current_CAS" BEL
        "Inst_SDRAMInterface/current_RAS" BEL "Inst_SDRAMInterface/MemCLK" BEL
        "Inst_decoder2/SampleOutRight_15" BEL
        "Inst_decoder2/SampleOutRight_14" BEL
        "Inst_decoder2/SampleOutRight_13" BEL
        "Inst_decoder2/SampleOutRight_12" BEL
        "Inst_decoder2/SampleOutRight_11" BEL
        "Inst_decoder2/SampleOutRight_10" BEL "Inst_decoder2/SampleOutRight_9"
        BEL "Inst_decoder2/SampleOutRight_8" BEL
        "Inst_decoder2/SampleOutRight_7" BEL "Inst_decoder2/SampleOutRight_6"
        BEL "Inst_decoder2/SampleOutRight_5" BEL
        "Inst_decoder2/SampleOutRight_4" BEL "Inst_decoder2/SampleOutRight_3"
        BEL "Inst_decoder2/SampleOutRight_2" BEL
        "Inst_decoder2/SampleOutRight_1" BEL "Inst_decoder2/SampleOutRight_0"
        BEL "Inst_decoder2/SampleOutLeft_15" BEL
        "Inst_decoder2/SampleOutLeft_14" BEL "Inst_decoder2/SampleOutLeft_13"
        BEL "Inst_decoder2/SampleOutLeft_12" BEL
        "Inst_decoder2/SampleOutLeft_11" BEL "Inst_decoder2/SampleOutLeft_10"
        BEL "Inst_decoder2/SampleOutLeft_9" BEL
        "Inst_decoder2/SampleOutLeft_8" BEL "Inst_decoder2/SampleOutLeft_7"
        BEL "Inst_decoder2/SampleOutLeft_6" BEL
        "Inst_decoder2/SampleOutLeft_5" BEL "Inst_decoder2/SampleOutLeft_4"
        BEL "Inst_decoder2/SampleOutLeft_3" BEL
        "Inst_decoder2/SampleOutLeft_2" BEL "Inst_decoder2/SampleOutLeft_1"
        BEL "Inst_decoder2/SampleOutLeft_0" BEL "Inst_decoder2/current_cnt_2"
        BEL "Inst_decoder2/current_cnt_1" BEL "Inst_decoder2/current_cnt_0"
        BEL "Inst_decoder2/current_fourByteWord_15" BEL
        "Inst_decoder2/current_fourByteWord_14" BEL
        "Inst_decoder2/current_fourByteWord_13" BEL
        "Inst_decoder2/current_fourByteWord_12" BEL
        "Inst_decoder2/current_fourByteWord_11" BEL
        "Inst_decoder2/current_fourByteWord_10" BEL
        "Inst_decoder2/current_fourByteWord_9" BEL
        "Inst_decoder2/current_fourByteWord_8" BEL
        "Inst_decoder2/current_fourByteWord_7" BEL
        "Inst_decoder2/current_fourByteWord_6" BEL
        "Inst_decoder2/current_fourByteWord_5" BEL
        "Inst_decoder2/current_fourByteWord_4" BEL
        "Inst_decoder2/current_fourByteWord_3" BEL
        "Inst_decoder2/current_fourByteWord_2" BEL
        "Inst_decoder2/current_fourByteWord_1" BEL
        "Inst_decoder2/current_fourByteWord_0" BEL
        "Inst_controlunit/current_state_FSM_FFd1" BEL
        "Inst_controlunit/current_state_FSM_FFd2" BEL
        "Inst_controlunit/current_state_FSM_FFd4" BEL
        "Inst_controlunit/current_state_FSM_FFd3" BEL
        "Inst_controlunit/current_ChunkBytesLeft_31" BEL
        "Inst_controlunit/current_ChunkBytesLeft_30" BEL
        "Inst_controlunit/current_ChunkBytesLeft_29" BEL
        "Inst_controlunit/current_ChunkBytesLeft_28" BEL
        "Inst_controlunit/current_ChunkBytesLeft_27" BEL
        "Inst_controlunit/current_ChunkBytesLeft_26" BEL
        "Inst_controlunit/current_ChunkBytesLeft_25" BEL
        "Inst_controlunit/current_ChunkBytesLeft_24" BEL
        "Inst_controlunit/current_ChunkBytesLeft_23" BEL
        "Inst_controlunit/current_ChunkBytesLeft_22" BEL
        "Inst_controlunit/current_ChunkBytesLeft_21" BEL
        "Inst_controlunit/current_ChunkBytesLeft_20" BEL
        "Inst_controlunit/current_ChunkBytesLeft_19" BEL
        "Inst_controlunit/current_ChunkBytesLeft_18" BEL
        "Inst_controlunit/current_ChunkBytesLeft_17" BEL
        "Inst_controlunit/current_ChunkBytesLeft_16" BEL
        "Inst_controlunit/current_ChunkBytesLeft_15" BEL
        "Inst_controlunit/current_ChunkBytesLeft_14" BEL
        "Inst_controlunit/current_ChunkBytesLeft_13" BEL
        "Inst_controlunit/current_ChunkBytesLeft_12" BEL
        "Inst_controlunit/current_ChunkBytesLeft_11" BEL
        "Inst_controlunit/current_ChunkBytesLeft_10" BEL
        "Inst_controlunit/current_ChunkBytesLeft_9" BEL
        "Inst_controlunit/current_ChunkBytesLeft_8" BEL
        "Inst_controlunit/current_ChunkBytesLeft_7" BEL
        "Inst_controlunit/current_ChunkBytesLeft_6" BEL
        "Inst_controlunit/current_ChunkBytesLeft_5" BEL
        "Inst_controlunit/current_ChunkBytesLeft_4" BEL
        "Inst_controlunit/current_ChunkBytesLeft_3" BEL
        "Inst_controlunit/current_ChunkBytesLeft_2" BEL
        "Inst_controlunit/current_ChunkBytesLeft_1" BEL
        "Inst_controlunit/current_ChunkBytesLeft_0" BEL
        "Inst_controlunit/errorcode_3" BEL "Inst_controlunit/errorcode_2" BEL
        "Inst_controlunit/errorcode_1" BEL "Inst_controlunit/errorcode_0" BEL
        "Inst_controlunit/current_cnt_3" BEL "Inst_controlunit/current_cnt_2"
        BEL "Inst_controlunit/current_cnt_1" BEL
        "Inst_controlunit/current_cnt_0" BEL
        "Inst_controlunit/NumChannelsout_2" BEL
        "Inst_controlunit/NumChannelsout_1" BEL
        "Inst_controlunit/NumChannelsout_0" BEL
        "Inst_controlunit/bitspersampleout_2" BEL
        "Inst_controlunit/bitspersampleout_1" BEL
        "Inst_controlunit/bitspersampleout_0" BEL
        "Inst_controlunit/current_TwoByteWord_29" BEL
        "Inst_controlunit/current_TwoByteWord_28" BEL
        "Inst_controlunit/current_TwoByteWord_27" BEL
        "Inst_controlunit/current_TwoByteWord_26" BEL
        "Inst_controlunit/current_TwoByteWord_25" BEL
        "Inst_controlunit/current_TwoByteWord_24" BEL
        "Inst_controlunit/current_TwoByteWord_21" BEL
        "Inst_controlunit/current_TwoByteWord_20" BEL
        "Inst_controlunit/current_TwoByteWord_19" BEL
        "Inst_controlunit/current_TwoByteWord_18" BEL
        "Inst_controlunit/current_TwoByteWord_17" BEL
        "Inst_controlunit/current_TwoByteWord_16" BEL
        "Inst_controlunit/current_TwoByteWord_13" BEL
        "Inst_controlunit/current_TwoByteWord_12" BEL
        "Inst_controlunit/current_TwoByteWord_11" BEL
        "Inst_controlunit/current_TwoByteWord_10" BEL
        "Inst_controlunit/current_TwoByteWord_9" BEL
        "Inst_controlunit/current_TwoByteWord_8" BEL
        "Inst_controlunit/current_TwoByteWord_5" BEL
        "Inst_controlunit/current_TwoByteWord_4" BEL
        "Inst_controlunit/current_TwoByteWord_3" BEL
        "Inst_controlunit/current_TwoByteWord_2" BEL
        "Inst_controlunit/current_TwoByteWord_1" BEL
        "Inst_controlunit/current_TwoByteWord_0" BEL
        "Inst_SDRAMInterface/current_clkena" BEL
        "Inst_controlunit/current_cnt_1_1" BEL
        "Inst_controlunit/current_cnt_0_1" BEL
        "Inst_controlunit/current_state_FSM_FFd2_1" BEL
        "Inst_controlunit/current_state_FSM_FFd1_1" BEL
        "Inst_controlunit/current_state_FSM_FFd4_1" BEL
        "Inst_controlunit/current_state_FSM_FFd3_1" BEL
        "Inst_controlunit/current_cnt_0_2" BEL
        "Inst_controlunit/bitspersampleout_0_1" BEL
        "Inst_controlunit/bitspersampleout_1_1" BEL
        "Inst_controlunit/current_state_FSM_FFd4_2" BEL
        "Inst_controlunit/current_state_FSM_FFd3_2" BEL
        "Inst_controlunit/current_state_FSM_FFd2_2" BEL
        "Inst_controlunit/current_cnt_1_2" BEL "Inst_SDRAMInterface/Filestart"
        BEL "Inst_decoder2/current_Channel" BEL "Inst_CLK_div/clk_400k" BEL
        "Inst_controlunit/ModeSelect" PIN "ODDR2_inst_BCLK_pins<1>" PIN
        "ODDR2_inst_BCLK_pins<2>" PIN "ODDR2_inst_BCLK_pins<1>" PIN
        "ODDR2_inst_BCLK_pins<2>" PIN "ODDR2_inst_MCLK_pins<1>" PIN
        "ODDR2_inst_MCLK_pins<2>" PIN "ODDR2_inst_MCLK_pins<1>" PIN
        "ODDR2_inst_MCLK_pins<2>";
PIN Inst_DAC_top/inst_DMC/pll_base_inst/PLL_ADV_pins<2> = BEL
        "Inst_DAC_top/inst_DMC/pll_base_inst/PLL_ADV" PINNAME CLKIN1;
TIMEGRP Inst_DAC_top_inst_DMC_12_to_96_clkfx = BEL
        "Inst_DAC_top/inst_DMC_12_to_96/clkout1_buf" PIN
        "Inst_DAC_top/inst_DMC/pll_base_inst/PLL_ADV_pins<2>";
PIN SP6_BUFIO_INSERT_ML_BUFIO2_0_pins<0> = BEL "SP6_BUFIO_INSERT_ML_BUFIO2_0"
        PINNAME DIVCLK;
PIN Inst_DAC_top/inst_DMC_12_to_96/dcm_sp_inst_pins<2> = BEL
        "Inst_DAC_top/inst_DMC_12_to_96/dcm_sp_inst" PINNAME CLKIN;
TIMEGRP clk = PIN "SP6_BUFIO_INSERT_ML_BUFIO2_0_pins<0>" PIN
        "Inst_DAC_top/inst_DMC_12_to_96/dcm_sp_inst_pins<2>";
TS_clk = PERIOD TIMEGRP "clk" 83.3333 ns HIGH 50%;
TS_Inst_DAC_top_inst_DMC_12_to_96_clkfx = PERIOD TIMEGRP
        "Inst_DAC_top_inst_DMC_12_to_96_clkfx" TS_clk / 8 HIGH 50%;
TS_Inst_DAC_top_inst_DMC_clkout0 = PERIOD TIMEGRP
        "Inst_DAC_top_inst_DMC_clkout0"
        TS_Inst_DAC_top_inst_DMC_12_to_96_clkfx / 0.117647059 HIGH 50%;
SCHEMATIC END;

