//! **************************************************************************
// Written by: Map P.20131013 on Thu Feb 13 17:38:35 2014
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "P43" LEVEL 1;
COMP "rst" LOCATE = SITE "P68" LEVEL 1;
COMP "A<0>" LOCATE = SITE "P49" LEVEL 1;
COMP "A<1>" LOCATE = SITE "P48" LEVEL 1;
COMP "A<2>" LOCATE = SITE "P46" LEVEL 1;
COMP "A<3>" LOCATE = SITE "P31" LEVEL 1;
COMP "A<4>" LOCATE = SITE "P30" LEVEL 1;
COMP "A<5>" LOCATE = SITE "P29" LEVEL 1;
COMP "A<6>" LOCATE = SITE "P28" LEVEL 1;
COMP "A<7>" LOCATE = SITE "P27" LEVEL 1;
COMP "A<8>" LOCATE = SITE "P23" LEVEL 1;
COMP "A<9>" LOCATE = SITE "P24" LEVEL 1;
COMP "d<0>" LOCATE = SITE "P90" LEVEL 1;
COMP "d<1>" LOCATE = SITE "P77" LEVEL 1;
COMP "d<2>" LOCATE = SITE "P78" LEVEL 1;
COMP "d<3>" LOCATE = SITE "P85" LEVEL 1;
COMP "d<4>" LOCATE = SITE "P86" LEVEL 1;
COMP "d<5>" LOCATE = SITE "P71" LEVEL 1;
COMP "d<6>" LOCATE = SITE "P70" LEVEL 1;
COMP "d<7>" LOCATE = SITE "P65" LEVEL 1;
COMP "d<8>" LOCATE = SITE "P16" LEVEL 1;
COMP "d<9>" LOCATE = SITE "P15" LEVEL 1;
COMP "A<10>" LOCATE = SITE "P51" LEVEL 1;
COMP "A<11>" LOCATE = SITE "P25" LEVEL 1;
COMP "MemCLKIN" LOCATE = SITE "P40" LEVEL 1;
COMP "BSOut" LOCATE = SITE "P53" LEVEL 1;
COMP "d<10>" LOCATE = SITE "P10" LEVEL 1;
COMP "d<11>" LOCATE = SITE "P9" LEVEL 1;
COMP "d<12>" LOCATE = SITE "P6" LEVEL 1;
COMP "d<13>" LOCATE = SITE "P5" LEVEL 1;
COMP "d<14>" LOCATE = SITE "P99" LEVEL 1;
COMP "d<15>" LOCATE = SITE "P98" LEVEL 1;
COMP "WEOut" LOCATE = SITE "P64" LEVEL 1;
COMP "CASOut" LOCATE = SITE "P60" LEVEL 1;
COMP "RASOut" LOCATE = SITE "P59" LEVEL 1;
COMP "SampleOutRight<0>" LOCATE = SITE "P36" LEVEL 1;
COMP "SampleOutRight<1>" LOCATE = SITE "P37" LEVEL 1;
COMP "SampleOutRight<2>" LOCATE = SITE "P50" LEVEL 1;
COMP "SampleOutRight<3>" LOCATE = SITE "P52" LEVEL 1;
COMP "SampleOutRight<4>" LOCATE = SITE "P56" LEVEL 1;
COMP "SampleOutRight<5>" LOCATE = SITE "P57" LEVEL 1;
COMP "SampleOutRight<6>" LOCATE = SITE "P61" LEVEL 1;
COMP "SampleOutRight<7>" LOCATE = SITE "P62" LEVEL 1;
COMP "SampleOutLeft<0>" LOCATE = SITE "P35" LEVEL 1;
COMP "SampleOutLeft<1>" LOCATE = SITE "P34" LEVEL 1;
COMP "SampleOutLeft<2>" LOCATE = SITE "P33" LEVEL 1;
COMP "SampleOutLeft<3>" LOCATE = SITE "P32" LEVEL 1;
COMP "SampleOutLeft<4>" LOCATE = SITE "P20" LEVEL 1;
COMP "SampleOutLeft<5>" LOCATE = SITE "P19" LEVEL 1;
COMP "SampleOutLeft<6>" LOCATE = SITE "P13" LEVEL 1;
COMP "SampleOutLeft<7>" LOCATE = SITE "P12" LEVEL 1;
COMP "MemCLKOut" LOCATE = SITE "P41" LEVEL 1;
TIMEGRP clk = BEL "Inst_SampleENA/SampleCLKEna" BEL "Inst_SampleENA/cnt_0" BEL
        "Inst_SampleENA/cnt_1" BEL "Inst_SampleENA/cnt_2" BEL
        "Inst_SampleENA/cnt_3" BEL "Inst_SampleENA/cnt_4" BEL
        "Inst_SampleENA/cnt_5" BEL "Inst_SampleENA/cnt_6" BEL
        "Inst_SampleENA/cnt_7" BEL "Inst_SampleENA/cnt_8" BEL
        "Inst_decoder2/SampleOutLeft_4" BEL "Inst_decoder2/SampleOutLeft_3"
        BEL "Inst_decoder2/SampleOutRight_10" BEL
        "Inst_decoder2/SampleOutRight_11" BEL "Inst_decoder2/SampleOutLeft_5"
        BEL "Inst_decoder2/SampleOutRight_13" BEL
        "Inst_decoder2/SampleOutRight_12" BEL "Inst_decoder2/SampleOutLeft_6"
        BEL "Inst_decoder2/SampleOutLeft_7" BEL
        "Inst_decoder2/SampleOutRight_14" BEL "Inst_decoder2/SampleOutLeft_9"
        BEL "Inst_decoder2/SampleOutLeft_8" BEL
        "Inst_decoder2/SampleOutRight_15" BEL "Inst_decoder2/SampleOutRight_0"
        BEL "Inst_decoder2/SampleOutRight_1" BEL
        "Inst_decoder2/SampleOutRight_2" BEL "Inst_decoder2/SampleOutRight_3"
        BEL "Inst_decoder2/SampleOutRight_4" BEL
        "Inst_decoder2/SampleOutRight_5" BEL "Inst_decoder2/SampleOutRight_8"
        BEL "Inst_decoder2/SampleOutRight_6" BEL
        "Inst_decoder2/SampleOutRight_7" BEL "Inst_decoder2/current.Channel_0"
        BEL "Inst_decoder2/SampleOutRight_9" BEL
        "Inst_decoder2/SampleOutLeft_10" BEL "Inst_decoder2/SampleOutLeft_11"
        BEL "Inst_decoder2/current.fourByteWord_0" BEL
        "Inst_decoder2/current.fourByteWord_1" BEL
        "Inst_decoder2/current.fourByteWord_2" BEL
        "Inst_decoder2/current.fourByteWord_3" BEL
        "Inst_decoder2/current.fourByteWord_4" BEL
        "Inst_decoder2/current.fourByteWord_5" BEL
        "Inst_decoder2/current.fourByteWord_6" BEL
        "Inst_decoder2/current.fourByteWord_7" BEL
        "Inst_decoder2/current.fourByteWord_8" BEL
        "Inst_decoder2/current.fourByteWord_9" BEL
        "Inst_decoder2/current.fourByteWord_10" BEL
        "Inst_decoder2/current.fourByteWord_11" BEL
        "Inst_decoder2/current.fourByteWord_12" BEL
        "Inst_decoder2/current.fourByteWord_13" BEL
        "Inst_decoder2/current.fourByteWord_14" BEL
        "Inst_decoder2/current.fourByteWord_15" BEL
        "Inst_decoder2/SampleOutLeft_12" BEL "Inst_decoder2/SampleOutLeft_15"
        BEL "Inst_decoder2/SampleOutLeft_13" BEL
        "Inst_decoder2/SampleOutLeft_14" BEL "Inst_decoder2/current.cnt_0" BEL
        "Inst_decoder2/current.cnt_1" BEL "Inst_decoder2/current.cnt_2" BEL
        "Inst_decoder2/current.cnt_3" BEL "Inst_decoder2/current.cnt_4" BEL
        "Inst_decoder2/SampleOutLeft_0" BEL "Inst_decoder2/SampleOutLeft_1"
        BEL "Inst_decoder2/SampleOutLeft_2" BEL
        "Inst_SDRAMInterface/current.cnt2_0" BEL
        "Inst_SDRAMInterface/current.cnt2_1" BEL
        "Inst_SDRAMInterface/current.cnt2_2" BEL
        "Inst_SDRAMInterface/current.cnt2_3" BEL
        "Inst_SDRAMInterface/current.cnt2_4" BEL
        "Inst_SDRAMInterface/current.cnt2_5" BEL
        "Inst_SDRAMInterface/current.cnt2_6" BEL
        "Inst_SDRAMInterface/current.cnt2_7" BEL
        "Inst_SDRAMInterface/current.cnt2_8" BEL
        "Inst_SDRAMInterface/current.cnt2_9" BEL
        "Inst_SDRAMInterface/current.cnt2_10" BEL
        "Inst_SDRAMInterface/current.cnt2_11" BEL
        "Inst_SDRAMInterface/MemCLKOut" BEL "Inst_SDRAMInterface/byteout_0"
        BEL "Inst_SDRAMInterface/byteout_1" BEL
        "Inst_SDRAMInterface/byteout_2" BEL "Inst_SDRAMInterface/byteout_3"
        BEL "Inst_SDRAMInterface/byteout_4" BEL
        "Inst_SDRAMInterface/byteout_5" BEL "Inst_SDRAMInterface/byteout_6"
        BEL "Inst_SDRAMInterface/byteout_7" BEL
        "Inst_SDRAMInterface/current.CAS" BEL
        "Inst_SDRAMInterface/current.RAS" BEL "Inst_SDRAMInterface/MemCLK" BEL
        "Inst_SDRAMInterface/current.Addr_0" BEL
        "Inst_SDRAMInterface/current.Addr_1" BEL
        "Inst_SDRAMInterface/current.Addr_2" BEL
        "Inst_SDRAMInterface/current.Addr_3" BEL
        "Inst_SDRAMInterface/current.Addr_4" BEL
        "Inst_SDRAMInterface/current.Addr_5" BEL
        "Inst_SDRAMInterface/current.Addr_6" BEL
        "Inst_SDRAMInterface/current.Addr_7" BEL
        "Inst_SDRAMInterface/current.Addr_8" BEL
        "Inst_SDRAMInterface/current.Addr_9" BEL
        "Inst_SDRAMInterface/current.Addr_10" BEL
        "Inst_SDRAMInterface/current.Addr_11" BEL
        "Inst_SDRAMInterface/current.WE" BEL
        "Inst_SDRAMInterface/current.clkena" BEL
        "Inst_SDRAMInterface/current.cnt_0" BEL
        "Inst_SDRAMInterface/current.cnt_1" BEL
        "Inst_SDRAMInterface/current.cnt_2" BEL
        "Inst_SDRAMInterface/current.cnt_3" BEL
        "Inst_SDRAMInterface/current.cnt_4" BEL
        "Inst_SDRAMInterface/current.cnt_5" BEL
        "Inst_SDRAMInterface/current.cnt_6" BEL
        "Inst_SDRAMInterface/current.cnt_7" BEL
        "Inst_SDRAMInterface/current.cnt_8" BEL
        "Inst_SDRAMInterface/Filestart" BEL
        "Inst_SDRAMInterface/current.state_FSM_FFd1" BEL
        "Inst_SDRAMInterface/current.state_FSM_FFd2" BEL
        "Inst_SDRAMInterface/current.state_FSM_FFd3" BEL
        "Inst_SDRAMInterface/current.state_FSM_FFd4" BEL
        "Inst_SDRAMInterface/current.state_FSM_FFd5" BEL
        "Inst_SDRAMInterface/current.state_FSM_FFd6" BEL
        "Inst_SDRAMInterface/current.state_FSM_FFd7" BEL
        "Inst_SDRAMInterface/current.state_FSM_FFd8" BEL
        "Inst_controlunit/errorcode_0" BEL "Inst_controlunit/errorcode_1" BEL
        "Inst_controlunit/errorcode_2" BEL "Inst_controlunit/errorcode_3" BEL
        "Inst_controlunit/bitspersampleout_0" BEL
        "Inst_controlunit/bitspersampleout_1" BEL
        "Inst_controlunit/bitspersampleout_2" BEL
        "Inst_controlunit/current.TwoByteWord_0" BEL
        "Inst_controlunit/current.TwoByteWord_1" BEL
        "Inst_controlunit/current.TwoByteWord_2" BEL
        "Inst_controlunit/current.TwoByteWord_3" BEL
        "Inst_controlunit/current.TwoByteWord_4" BEL
        "Inst_controlunit/current.TwoByteWord_5" BEL
        "Inst_controlunit/current.TwoByteWord_6" BEL
        "Inst_controlunit/current.TwoByteWord_7" BEL
        "Inst_controlunit/current.TwoByteWord_8" BEL
        "Inst_controlunit/current.TwoByteWord_9" BEL
        "Inst_controlunit/current.TwoByteWord_10" BEL
        "Inst_controlunit/current.TwoByteWord_11" BEL
        "Inst_controlunit/current.TwoByteWord_12" BEL
        "Inst_controlunit/current.TwoByteWord_13" BEL
        "Inst_controlunit/current.TwoByteWord_14" BEL
        "Inst_controlunit/current.TwoByteWord_15" BEL
        "Inst_controlunit/current.TwoByteWord_16" BEL
        "Inst_controlunit/current.TwoByteWord_17" BEL
        "Inst_controlunit/current.TwoByteWord_18" BEL
        "Inst_controlunit/current.TwoByteWord_19" BEL
        "Inst_controlunit/current.TwoByteWord_20" BEL
        "Inst_controlunit/current.TwoByteWord_21" BEL
        "Inst_controlunit/current.TwoByteWord_22" BEL
        "Inst_controlunit/current.TwoByteWord_23" BEL
        "Inst_controlunit/current.TwoByteWord_24" BEL
        "Inst_controlunit/current.TwoByteWord_25" BEL
        "Inst_controlunit/current.TwoByteWord_26" BEL
        "Inst_controlunit/current.TwoByteWord_27" BEL
        "Inst_controlunit/current.TwoByteWord_28" BEL
        "Inst_controlunit/current.TwoByteWord_29" BEL
        "Inst_controlunit/current.TwoByteWord_30" BEL
        "Inst_controlunit/current.TwoByteWord_31" BEL
        "Inst_controlunit/NumChannelsout_0" BEL
        "Inst_controlunit/NumChannelsout_1" BEL
        "Inst_controlunit/NumChannelsout_2" BEL
        "Inst_controlunit/samplerateout" BEL
        "Inst_controlunit/current.ChunkBytesLeft_0" BEL
        "Inst_controlunit/current.ChunkBytesLeft_1" BEL
        "Inst_controlunit/current.ChunkBytesLeft_2" BEL
        "Inst_controlunit/current.ChunkBytesLeft_3" BEL
        "Inst_controlunit/current.ChunkBytesLeft_4" BEL
        "Inst_controlunit/current.ChunkBytesLeft_5" BEL
        "Inst_controlunit/current.ChunkBytesLeft_6" BEL
        "Inst_controlunit/current.ChunkBytesLeft_7" BEL
        "Inst_controlunit/current.ChunkBytesLeft_8" BEL
        "Inst_controlunit/current.ChunkBytesLeft_9" BEL
        "Inst_controlunit/current.ChunkBytesLeft_10" BEL
        "Inst_controlunit/current.ChunkBytesLeft_11" BEL
        "Inst_controlunit/current.ChunkBytesLeft_12" BEL
        "Inst_controlunit/current.ChunkBytesLeft_13" BEL
        "Inst_controlunit/current.ChunkBytesLeft_14" BEL
        "Inst_controlunit/current.ChunkBytesLeft_15" BEL
        "Inst_controlunit/current.ChunkBytesLeft_16" BEL
        "Inst_controlunit/current.ChunkBytesLeft_17" BEL
        "Inst_controlunit/current.ChunkBytesLeft_18" BEL
        "Inst_controlunit/current.ChunkBytesLeft_19" BEL
        "Inst_controlunit/current.ChunkBytesLeft_20" BEL
        "Inst_controlunit/current.ChunkBytesLeft_21" BEL
        "Inst_controlunit/current.ChunkBytesLeft_22" BEL
        "Inst_controlunit/current.ChunkBytesLeft_23" BEL
        "Inst_controlunit/current.ChunkBytesLeft_24" BEL
        "Inst_controlunit/current.ChunkBytesLeft_25" BEL
        "Inst_controlunit/current.ChunkBytesLeft_26" BEL
        "Inst_controlunit/current.ChunkBytesLeft_27" BEL
        "Inst_controlunit/current.ChunkBytesLeft_28" BEL
        "Inst_controlunit/current.ChunkBytesLeft_29" BEL
        "Inst_controlunit/current.ChunkBytesLeft_30" BEL
        "Inst_controlunit/current.ChunkBytesLeft_31" BEL
        "Inst_controlunit/ModeSelect_0" BEL "Inst_controlunit/watchdogstate_0"
        BEL "Inst_controlunit/watchdogstate_1" BEL
        "Inst_controlunit/watchdogstate_2" BEL
        "Inst_controlunit/watchdogstate_3" BEL
        "Inst_controlunit/watchdogstate_4" BEL
        "Inst_controlunit/watchdogstate_5" BEL
        "Inst_controlunit/watchdogstate_6" BEL
        "Inst_controlunit/watchdogstate_7" BEL
        "Inst_controlunit/watchdogstate_8" BEL
        "Inst_controlunit/watchdogstate_9" BEL
        "Inst_controlunit/watchdogstate_10" BEL
        "Inst_controlunit/watchdogstate_11" BEL
        "Inst_controlunit/watchdogstate_12" BEL
        "Inst_controlunit/watchdogstate_13" BEL
        "Inst_controlunit/watchdogstate_14" BEL
        "Inst_controlunit/watchdogstate_15" BEL
        "Inst_controlunit/watchdogcnt_0" BEL "Inst_controlunit/watchdogcnt_1"
        BEL "Inst_controlunit/watchdogcnt_2" BEL
        "Inst_controlunit/watchdogcnt_3" BEL "Inst_controlunit/watchdogcnt_4"
        BEL "Inst_controlunit/watchdogcnt_5" BEL
        "Inst_controlunit/current.state_FSM_FFd1" BEL
        "Inst_controlunit/current.state_FSM_FFd2" BEL
        "Inst_controlunit/current.state_FSM_FFd3" BEL
        "Inst_controlunit/current.state_FSM_FFd4" BEL
        "Inst_controlunit/current.state_FSM_FFd5" BEL
        "Inst_controlunit/current.state_FSM_FFd6" BEL
        "Inst_controlunit/current.state_FSM_FFd7" BEL
        "Inst_controlunit/current.state_FSM_FFd8" BEL
        "Inst_controlunit/current.state_FSM_FFd9" BEL
        "Inst_controlunit/current.state_FSM_FFd10" BEL
        "Inst_controlunit/current.state_FSM_FFd11" BEL
        "Inst_controlunit/current.state_FSM_FFd12" BEL
        "Inst_controlunit/current.state_FSM_FFd13" BEL
        "Inst_controlunit/current.state_FSM_FFd14" BEL
        "Inst_controlunit/current.state_FSM_FFd15" BEL
        "Inst_controlunit/current.state_FSM_FFd16" BEL
        "Inst_controlunit/current.cnt_3" BEL "Inst_controlunit/current.cnt_2"
        BEL "Inst_controlunit/current.cnt_1" BEL
        "Inst_controlunit/current.cnt_0" BEL "clk_BUFGP/BUFG.GCLKMUX" BEL
        "clk_BUFGP/BUFG";
TS_clk = PERIOD TIMEGRP "clk" 83.3 ns HIGH 50%;
SCHEMATIC END;

